@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';

h1 {
    color: black; 
    font-size: 24px;
    font-family: Arial;
}

body {
    background-color: #f3f4f5;
    font-family: Georgia;
    font-size: 18px;
    color: #757575;
}

